@charset "UTF-8";

@media screen and (min-width: 768px) {

#menuh {
    display: none;
   }

#burguer {
    display: block;
}   

nav > ul > li {
    display: inline-block;
}

nav {
    text-align: left;
}

main {
    width: 768px;
}
}
    