@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
    
    html, body {
        background-color: #233eff;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 100vh;
    }
    
    h1 {
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
        padding: 10px;
    }

